main {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
code {
    background-color: rgb(var(--default-color));
    color: #ffffff;
    padding: 10px 20px;
    height: 100%;
    box-shadow: var(--shadow);
    border-radius: 4px;
    display: block;
}
main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.main--text h1, .main--text h2 {
    font-size: 50px;
    /* TODO: Place here bubbles */
    /* background: linear-gradient(to right, rgb(var(--accent-color)) 75%, rgb(var(--default-color))); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: rgb(var(--accent-color));
    width: 50%;
    text-align: start;
}
.main--text p {
    color: rgb(var(--accent-color));
    text-align: start;
}
.background--gradient {
    background-color: rgb(var(--default-color));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;
}
.cards--section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}
.card--wrap:last-child {
    margin-right: 0;
}
.card--wrap {
    padding: 20px;
    box-shadow: var(--shadow);
    width: 33%;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: var(--shadow);
    bottom: -50px;
    margin-right: 20px;
}
.card--wrap p {
    text-align: start;
}
.card--wrap h3 {
    color: rgb(var(--accent-color));
}
.card--wrap .pictogram {
    position: absolute;
    opacity: 0.10;

    top: auto;
    left: auto;
    bottom: -25%;
    right: -25%;
}
section.black {
    padding-top: 50px;
    padding-bottom: 0;
}
