nav {
    background-color: rgb(var(--default-color));
    box-shadow: var(--shadow);
    padding: 0 20px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.logo {
    display: block;
    padding: 10px 20px;
    color: rgb(var(--accent-color));
    font-size: 16px;
    text-decoration: none;
}
.nav--links {
    display: flex;
    align-items: center;
}
.nav--link {
    color: rgb(var(--accent-color));
    text-decoration: none;
    padding: 10px 20px;
    transition: 200ms ease-in;
    display: block;
}
.nav--link:hover {
    opacity: 0.5;
}

.nav--link__primary {
    background-color: rgb(var(--accent-color));
    text-decoration: none;
    padding: 10px 20px;
    transition: 200ms ease-in;
    color: var(--default-color);
    width: 100%;
    display: block;
}

.nav--link:hover {
    opacity: 0.25;
}
.nav--mobile {
    display: none;
}
.nav--toggle {
    width: 24px;
    height: 24px;
    padding: 10px;
}
.nav--mobile-list {
    display: block;
    width: 100%;
    background-color: rgb(var(--default-color));
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 820px) {
    .nav--links {
        display: none;
    }
    
    .nav--mobile {
        display: block;
        height: 44px;
    }
    .nav--toggle {
        
    }
}